# Python / virtualenv
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.venv/
venv/
env/
Bluesky/venv/


# Qt / CMake / build artifacts
build/
build-*/
cmake-build-*/
release/
debug/
*.user
*.pro.user
*.qbs.user
*.qm

moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
.qmake.stash
Makefile*

# Compiled binaries
*.exe
*.app
*.o
*.obj

# Windows
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.idb

# MacOS
*.dSYM
*.dylib
*.framework
*.bundle
*.so
*.a

# OS-specific junk
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
*.user
*.pro.user
*.qbs.user
*.qm

.idea/
.vscode/
.history/
.cursor/
*/.cursor/

# Logs
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# xplane
Log.txt
Cycle Dump.txt
CrashLog.txt
